{% extends 'layout/_main.html' %}

{% block content %}
<section class="intro div-lg div-lg-sp">
  <div class="container">
    <div class="card-info">
      <div class="row">
        <div class="col-6 col--md-12 col--sm-12">
          <img src="images/index/img-main.png" alt="CEO" class="fullwidth">
        </div>
        <div class="col-6 col--md-12 col--sm-12">
          <div class="info">
            <div class="title div-xl div-info-sp">
              <h1 class="title-1"><a class="link is-dark-blue">東北支社<br>
                  東北オドロキ探検ツアー</a></h1>
              <h2 class="title-2"><a class="link is-dark-blue">SEASON 2 （2018~）<br>
                  Vol.4 宮城で見つけたオドロキ</a></h2>
            </div>
            <div class="content">
              <p>オドロキ探検ツアーでは、東北支社長のわたくし荒木が、東北の多彩な魅力をお伝えするため、東北六県のビジネスパートナーと一緒に、各県の“知ってオドロキ！“な三菱電機の事例をご紹介します。さらに、その土地の方に教えていただいた地元の文化・伝統、オススメの食べもの、とっておきの場所など、オドロキポイントを実際に体験、“やってオドロキ！”な様子をお届けします。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
