{% extends 'layout/_main.html' %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="mainvisual">
      <div class="row">
        <div class="col-6 col--md-12 col--sm-12">
          <div class="mainvisual__image">
            <img src="images/index/img-main.png" alt="CEO" class="fullwidth">
          </div>
        </div>
        <div class="col-6 col--md-12 col--sm-12">
          <div class="mainvisual__title">
            <h1><a class="link--dark-blue">東北支社<br>
                東北オドロキ探検ツアー</a></h1>
            <h2><a class="link--dark-blue">SEASON 2 （2018~）</a></h2>
            <h2><a class="link--dark-blue">Vol.4 宮城で見つけたオドロキ</a></h2>
          </div>
          <div class="mainvisual__body">
            <p class="text--sm">オドロキ探検ツアーでは、東北支社長のわたくし荒木が、東北の多彩な魅力をお伝えするため、東北六県のビジネスパートナーと一緒に、各県の“知ってオドロキ！“な三菱電機の事例をご紹介します。さらに、その土地の方に教えていただいた地元の文化・伝統、オススメの食べもの、とっておきの場所など、オドロキポイントを実際に体験、“やってオドロキ！”な様子をお届けします。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-balance--md section--grey">
  <div class="container">
    <div class="card">
      <div class="row">
        <div class="col-2 col--md-12 col--sm-12">
          <div class="card__title">
            <p class="text--sm">SEASON 2</p>
            <p class="text--sm">EXPLORER</p>
          </div>
        </div>
        <div class="col-7 col--md-12 col--sm-12">
          <div class="card__content">
            <b>東北支社長</b>
            <h2>荒木 久嗣</h2>
            <p class="content-sp text--sm hidden--lg" arrow-target="arrow1" content-target="content1">詳細を見る <img id="arrow1"
                src="images/icon/arrow_open.png"></p>
            <p class="text--sm hidden--md hidden--sm" id="content1">北陸支社や中部支社での勤務を経て、2017年から東北支社長に就任しました。前東北支社長の江本のSEASON1を引き継ぎ、私が「東北オドロキ探検ツアー」SEASON2を担当します。街歩きが大好きなので、いろいろな場所を訪ね歩きながら私なりに新しい東北の魅力を発信していきます！</p>
          </div>
        </div>
        <div class="col-2 col--sm-0">
          <div class="card__image">
            <img src="images/index/img_avatar.png" alt="CEO" class="image--bottom">
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-2 col--md-12 col--sm-12">
          <div class="card__title">
            <p class="text--sm">HIGHLIGHT</p>
            <p class="text--sm">AREA</p>
          </div>
        </div>
        <div class="col-7 col--md-12 col--sm-12">
          <div class="card__content">
            <h2>東北支社</h2>
            <p class="content-sp text--sm hidden--lg" arrow-target="arrow2" content-target="content2">詳細を見る <img id="arrow2"
                src="images/icon/arrow_open.png"></p>
            <p class="text--sm hidden--md hidden--sm" id="content2">「環境・省エネ」「地域社会」の貢献を目指し、東北エリアを営業拠点とした活動をご紹介しています。</p>
            <button class="btn--sm btn--dark-blue">東北支社 地域ビジネス活動</button>
          </div>
        </div>
        <div class="col-2 col--sm-0">
          <div class="img">
            <img src="images/index/img_minimap.png" alt="CEO" class="image">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-balance--lg">
  <div class="container">
    <div class="section">
      <img src="images/index/img_explorebox.png" alt="exploreBox" class="image--middle">
    </div>
    <div class="row">
      <div class="col-8 col-offset-2 col--md-12 col--sm-12">
        <p><a href="#" class="link--dark-blue">三菱電機住環境システムズ株式会社</a>は、2004年（平成16年）10月に、住宅設備機器及び冷熱機器を販売する株式会社三菱電機ライフファシリティーズと三菱
          電機株式会社リビング・デジタルメディア事業本部空調冷熱システム事業部の首都圏・関西の営業部門が統合、メーカーと販売の機能を備えた地域密着型の総
          合販売会社として設立されました。長年、培われた実績と信頼、三菱電機の確かな技術を活かし、マンション・住宅をはじめ、オフィスビル、商業施設、工場
          まで幅広く対応、エコ＆快適で豊かな空間づくりをサポートしています。住宅設備機器、空調機器、家電製品をはじめ、オフィスや店舗、工場などの省エネ、効
          率性を重視した各種機器、システムの提案など幅広くて手がけております。
        </p>
      </div>
    </div>
  </div>
</section>
<section class="section-balance--md section--grey hidden--lg">
  <h2 class="text--center text--heavy-grey">以下対談部分は既存モジュール</h2>
</section>
<section class="section hidden--md hidden--sm">
  <div class="container">
    <img src="images/index/img_card-banner.png" alt="cardBanner" class="image">
  </div>
</section>
<section class="hidden--md hidden--sm">
  <div class="container">
    <div class="media--lg">
      <div class="row">
        <div class="col-6">
          <img src="images/index/img_card-1_1.png" class="media__image">
          <img src="images/index/img_card-1_2.png" class="media__image">
        </div>
        <div class="col-6">
          <h2 class="media__title">それぞれの地域に根ざし、<br>
            真摯に向き合う
          </h2>
          <div class="media__body">
            <p>三菱電機住環境システムズ株式会社の東北支社にお邪魔し、1Fのショールームをご案内いただいた後、喜久支社長にお話を伺いました。</p>
            <br>
            <p><b>荒木東北支社長（以下、荒木）</b>「とてもきれいなショールームですね。製品もたくさん展示されていてびっくりしました！」<br></p>
            <p><b>喜久三菱電機住環境システムズ株式会社東北支社長（以下、喜久）</b>「ありがとうございます。東北支社は、東日本大震災によって社屋が損壊したため、2011年5月に現住所に移転し、2016年3月、1Ｆにこの体験型の<a
                class="link--dark-blue">ショールーム</a>をリニューアルオープンしました。家電を含め、最新の三菱電機製品を体感することができます。」</p>
            <p><b>荒木</b>「『寒冷地向けコーナー』は東北エリアならでは、と思いましたが、他にどのような特徴があるのですか？」</p>
            <p><b>喜久</b>「『業務用空調コーナー』や『換気・照明コーナー』などがあり、実演・体感・提案・研修の場として、さまざまなお客様に足を運んでいただける施設となっています。」</p>
            <p><b>荒木</b>「たしかに多くの製品が展示されていました！幅広いサービスを提供していらっしゃいますが、御社が特に力を入れていらっしゃるのは、どのようなことですか？」</p>
            <p><b>喜久</b>「そうですね、我々は人を育てることに力を入れています。販売会社というのは人が財産です。若手・中堅・管理職と階層別にコンプライアンス、マナー等の営業研修を定期的に行うとともに、社外の資格取得にも力を入れ、多様なニーズに対応する総合的な提案でお客様にご満足いただける地域密着の会社を目指しています。」<br></p>
            <p><b>荒木</b>「人材を大切にし、それぞれのお客様に寄り添い、そのニーズに真摯に向き合う。そこに強みがあるのですね！</p>
          </div>
        </div>
      </div>
    </div>
    <div class="media--lg">
      <div class="row">
        <div class="col-6">
          <h2 class="media__title">地元産業を支えて</h2>
          <div class="media__body">
            <p><b>喜久</b>「弊社がお取引させていただいている著名なお客様に、仙台名物“牛たん”の名店<a class="link--dark-blue">株式会社 利休</a>様があります。実は牛たん焼きが、戦後に生まれというのをご存知ですか？」</p>
            <p><b>荒木</b>「いえ、知りませんでした！」</p>
            <p><b>喜久</b>「元々シチューなどの洋食で使われていた牛たんですが、『牛たん焼き』は仙台の和食の職人さんが、昭和20年代に開発したメニューだそうです。1987（昭和62）年に１号店をオープンした利久様は、包丁１本で仕込むというこだわりを守って成長してきた牛タン業界を代表する企業の一つです。現在は国内に54の直営店を構えており、店舗のさらなる拡大に伴い、生産能力のアップを目指して新工場を建設されました。その工場内の牛タンの解凍工程に、長期的なランニングコスト削減を目的として、三菱電機製の業務用のエコキュートが採用されています。」</p>
            <p><b>荒木</b>「そういう地元産業をしっかり支えているのですね！」</p>
            <p><b>喜久</b>「はい。地元、ということでもう一つご紹介したいのが、女川湾を臨む公園内にあるテナント型商業施設<a class="link--dark-blue">シーパルピア女川</a>の中の観光物産施設『ハマテラス』です。ここは大勢の人が訪れる人気スポットで、海の街・女川の地元市場として、さまざまな海の幸を味わうことができます。ここには三菱電機製のスリムエアコン90台が納入されています。」</p>
            <p><b>荒木</b>「私も数回行ったことがありますが、女川駅の駅前広場から女川湾にもつながる素敵な施設ですよね。」</p>
          </div>
        </div>
        <div class="col-6">
          <img src="images/index/img_card-2_1.png" class="media__image">
          <img src="images/index/img_card-2_2.png" class="media__image">
        </div>
      </div>
    </div>
    <div class="media--lg">
      <div class="row">
        <div class="col-6">
          <img src="images/index/img_card-3_1.png" class="media__image">
          <img src="images/index/img_card-3_2.png" class="media__image">
        </div>
        <div class="col-6">
          <h2 class="media__title">東北への想い</h2>
          <div class="media__body">
            <p><b>荒木</b> 「東北、とりわけここ宮城で仕事をする中で気づかれたこと、学んだこと、あるいは大切にされていることはありますか？」</p>
            <p><b>喜久</b>「宮城の皆さんはとても元気で、『復興』を合言葉に、人のつながり・絆をとても大切にし、地元を誇りにしています。仕事では画一的な提案にならないよう、地域に合った製品、例えば、寒いエリアの場合は寒冷地用エアコン『ズバ暖』を提案するなど、地域特性に応じた提案を心掛けています。東北各県でそれぞれ大切にしている文化があるので、地域に密着した仕事を手がけていきたいですね！」</p>
            <p><b>荒木</b>「なるほど。今後、東北をこんなふうに支えていきたいというようなビジョンはお持ちですか？」</p>
            <p><b>喜久</b>「東日本大震災という大きな経験を忘れることなく、全国に向けた『環境・防災』の発信拠点にしていきたいですね。太陽光発電，ＨＥＭＳ※1，ＢＥＭＳ※2等を用いたゼロエネルギー化への取り組みは、東北が全国の先駆けになっていくべきだと考えています。当社の強みは、こうした次世代に向けたシステム提案がほぼ自社製品で賄える点です。特に空調、ＬＥＤ照明、ヒートポンプ給湯は、省エネに大きく貢献します。これからの日本を引っ張っていく意気込みで、東北は元気だということを発信していきたいですね。」</p>
            <p><b>荒木</b>「わたしも東北に赴任するまでは、まだまだ大変なのだろうなと思っていましたが、皆さん元気で、前向きに頑張っていこうという雰囲気を感じます。」</p>
            <p><b>喜久</b>「そうですね。今までとは違うことをやっていこうという前向きな想いに溢れています！」</p>
            <br>
            <p class="media__note">※1　Home Energy Management System</p>
            <p class="media__note">※2　Building Energy Management System</p>
          </div>
        </div>
      </div>
    </div>
    <div class="media--lg">
      <div class="row">
        <div class="col-6">
          <h2 class="media__title">とっておきのオドロキを探しに</h2>
          <div class="media__body">
            <p><b>荒木</b>「仙台に来てから野球の試合に行ったり、芋煮会に参加したりしていますが、本当に楽しいイベントが多く、とても活気のある街なので、今からワクワクしています。美味しい食べ物、オススメの料理はありますか？」</p>
            <p><b>喜久</b>「東北各地に隠れた銘酒があります。お酒はお好きですか？」</p>
            <p><b>荒木</b>「大好きです！」</p>
            <p><b>喜久</b>「それはよかった（笑）。お酒は、やっぱり東北ですね。私も存分に堪能しています。個人的には一ノ蔵のような辛口純米が好きです。酒の肴は、定義山の三角揚げがオススメです。少し厚めの油揚げですが、とにかくお酒が進みます。七味をたっぷりかけて、醤油と一緒に食べるのがとても美味しいです。」</p>
            <p><b>荒木</b>「いろいろ美味しいものがありそうで楽しみです！オススメの場所、例えば名所やとっておきの体験ができるところはありますか？」</p>
            <p><b>喜久</b>「私が強く印象に残ったところは、仙台駅周辺の街並みですね。伊達家主導で1601（慶長6）年頃から仙台城と城下町の建設が始まり、仙台藩が生まれたわけですが、整然とした街並み、街路樹など、とてもきれいです。あと、休日にはオープンカーで太平洋側の海沿いを走ったりしますね。爽快で気持ちいいですよ！女川の商店街や気仙沼の市場など、とても賑やかでいつも元気をもらっています。先程ご紹介した『シーパルピア女川』には、さまざまな飲食店やおみやげ屋さんの他にも、ものづくりの体験などもできるのでおすすめです！」</p>
            <p><b>荒木</b>「貴重な情報をありがとうございました。オドロキポイントがいろいろありそうなので、楽しみです！」</p>
          </div>
        </div>
        <div class="col-6">
          <img src="images/index/img_card-4_1.png" class="media__image">
          <img src="images/index/img_card-4_2.png" class="media__image">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-balance--lg">
  <div class="container">
    <div class="media--md">
      <img src="images/index/img_explorebox-2.png" alt="exploreBox" class="image--middle">
      <div class="media__body">
        <div class="row">
          <div class="col-8 col-offset-2 col--md-12 col--sm-12">
            <p>早速、喜久支社長に伺った宮城のオドロキスポット巡りに向けて、出発！どんな出会いやオドロキ、そして感動が待っているのか、今から楽しみです！</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-8 col-offset-2 col--md-12 col--sm-12">
          <img src="images/index/img_movie.png" alt="imgMovie" class="image">
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
