.btn:focus,
.btn:active:focus {
  outline: none;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  font-weight: $font-weight-normal;
  line-height: $line-height-zero;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  user-select: none;
  touch-action: manipulation;
  outline: none;
  cursor: pointer;
  transition: all .3s ease;

  &:hover {
    background-color: darken($gray-color, 3%);
    color: $light-color;
  }

  &.has-border-radius {
    border-radius: $radius;
  }

  &.is-xs {
    font-size: 10px;
    padding: 5px;
  }

  &.is-sm {
    font-size: 14px;
    padding: 10px 15px;
  }

  &.is-md {
    font-size: 16px;
    padding: 12px 20px;
  }
}
