.link {
  text-decoration: none;
  color: $dark-color;
  transition: all .3s ease;

  &:hover {
    color: darken($dark-color, 20%);
  }

  &.is-dark-blue {
    color: $dark-blue;

    &:hover {
      color: darken($dark-color, 20%);
    }
  }
}
