.link {
  text-decoration: none;
  transition: all .3s ease;

  &--defalut {
    color: $dark-color;
    &:hover {
      color: darken($dark-color, 20%);
    }
  }

  &--dark-blue {
    color: $dark-blue;

    &:hover {
      color: darken($dark-color, 20%);
    }
  }
}
