.media {
  &--xl {
    .media__body {
      margin-top: 28px;
    }
  }

  &--lg {
    .media__image + .media__image {
      margin-top: 30px;
    }

    .media__body {
      margin-top: 40px
    }

    .media__note {
      font-size: 12px;
    }

    & + .media--lg {
      margin-top: 80px
    }
  }

  &--md {
    .media__body {
      margin-top: 80px;

      & + * {
        margin-top: 80px;
      }
    }
  }

  &--sm {
    .media__image {
      position: relative;
      height: 360px;
      overflow: hidden;

      @include mediaquery--not-lg() {
        height: 222px;
      }
    }

    .media__title,
    .media__body {
      margin-top: 32px;
    }

    .media__link {
      margin-top: 16px;

      a {
        display: block;
      }
    }

    & + .media--sm {
      @include mediaquery--not-lg() {
        margin-top: 48px;
      }
    }
  }

  &--xs {
    position: relative;
    width: 256px;
    height: 490px;
    overflow: hidden;

    .media__title {
      margin-top: 24px;
      line-height: 24px;
    }

    .media__body {
      margin-top: 12px;
    }

    .media__link {
      margin-top: 20px;
    }
  }

  &--xl,
  &--md,
  &--sm {
    .media__title {
      text-align: center;
    }
  }
}
