.section {
  background-color: $light-color;
  padding-bottom: 80px;

  @include mediaquery--not-lg() {
    padding-bottom: 48px;
  }

  &--lg {
    padding-bottom: 110px;

    @include mediaquery--not-lg() {
      padding-bottom: 48px;
    }
  }

  &--md {
    padding-bottom: 50px;
  }

  &--sm {
    padding-bottom: 40px;

    @include mediaquery--not-lg() {
      padding-bottom: 30px;
    }
  }

  &--grey {
    background-color: $cream-green;
  }

  &--light-blue {
    background-color: $light-blue;
  }

  &--orange {
    background-color: $dark-orange;
  }
}

.section-balance {
  &--lg {
    padding-top: 80px;
    padding-bottom: 80px;

    @include mediaquery--not-lg() {
      padding-top: 48px;
      padding-bottom: 48px;
    }
  }

  &--md {
    padding-top: 40px;
    padding-bottom: 40px;

    @include mediaquery--not-lg() {
      padding-top: 45px;
      padding-bottom: 45px;
    }
  }
}
