.fullwidth {
  width: 100%;
}

.pad-lg {
  padding: 80px;

  @include mediaquery--sm() {
    padding: 40px 20px;
  }
}

.pad-md {
  padding: 40px 0;

  @include mediaquery--sm() {
    padding: 30px 0;
  }
}

.pad-side-190 {
  padding-left: 190px;
  padding-right: 190px;
}
