h1,
h2,
h3 {
  font-weight: $font-weight-bold;
}

h1 {
  font-size: 34px;

  @include mediaquery--not-lg() {
    font-size: 26px
  }
}

h2 {
  font-size: 24px;

  @include mediaquery--not-lg() {
    font-size: 20px;
  }
}

h3 {
  font-size: 18px;

  @include mediaquery--not-lg() {
    font-size: 16px;
  }
}

.text--heavy-grey {
  color: $heavy-grey;
}

.text--white {
  color: $light-color;
}

.text--sm {
  font-size: 14px;
  line-height: 24px;
}

.text--bold {
  font-weight: 700;
}

.text--center {
  text-align: center;
}
