// Gray color
$light-color: #fff !default;
$dark-color: #333 !default;
$gray-color: #dbdbdb !default;

// Customize Color
$cream-yellow: #f6f5ed;
$cream-green: #f0f0f0;
$dark-orange: #d86b2a;
$dark-blue: #005d8c;
$light-blue: #005e8c;
$heavy-grey: #999999;
