.card-review {
  .title-area {
    .title {
      @include mediaquery--sm() {
      font-size: 20px;
      line-height: 32px;
      }
    }

    .intro {
      font-size: 20px;

      @include mediaquery--sm() {
        font-size: 16px;
      }
    }
  }

  .content {
    @include mediaquery--sm() {
      font-size: 14px;
    }

    .read-more {
      margin-top: 20px;
    }
  }
}
