.season-slide {
  position: relative;
  margin-left: -$col-gutter;
  margin-right: -$col-gutter;

  &__item {
    padding: 0 $col-gutter;
  }

  .slick-prev,
  .slick-next {
    display: none !important;
  }
}
