.card-introduce {
  padding: 20px 0;
  margin: 10px 0;
  position: relative;

  @include mediaquery--sm() {
    padding: 10px;
  }

  .title {
    text-align: center;
    font-weight: 700;
    border-right: 3px solid $cream-green;
    height: 100%;
    padding: 50% 0;

    @include mediaquery--sm() {
      padding: 0;
      text-align: left;
      border-bottom: 3px solid $cream-green;
      border-right: 0;

      p {
        display: inline-block;
      }
    }
  }

  .content {
    padding: 20px 0;
    height: 100%;

    .body-sp {
      display: none;
      color: $heavy-grey;
      font-weight: 700;
      cursor: pointer;

      @include mediaquery--sm() {
        display: block;
      }
    }

    .body {
      display: block;
      
      @include mediaquery--sm() {
        display: none;
      }
    }
  }

  .img {
    @include mediaquery--sm() {
      display: none;
    }
  }
}
