.d {

  &--block {
    display: block;
  }

  &--none {
    display: none;
  }

  &--block-sp {
    @include mediaquery--sm() {
      display: block;
    }
  }

  &--none-sp {
    @include mediaquery--sm() {
      display: none;
    }
  }
}
