//margin
.m {
  &--100 {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  &--80 {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  &--50 {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  &--40 {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  &--50-sp {
    @include mediaquery--sm() {
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }

  &--45-sp {
    @include mediaquery--sm() {
      margin-top: 45px;
      margin-bottom: 45px;
    }
  }

  &--30-sp {
    @include mediaquery--sm() {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }

  &.no-margin {
    margin-top: 0;
    margin-bottom: 0;
  }
}

//padding
.p {
  &--80 {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  &--40 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &--30 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &--30-sp {
    @include mediaquery--sm() {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  &--40-sp {
    @include mediaquery--sm() {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  &--50-sp {
    @include mediaquery--sm() {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }

  &--15-sp {
    @include mediaquery--sm() {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  &--side-190 {
    padding-left: 190px;
    padding-right: 190px;
  }

  &--0-sp {
    @include mediaquery--sm() {
      padding: 0;
    }
  }
}
